ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);



}

@media (max-width: 768px) {

  ion-menu.md {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    border: none;

  }
}

@media (min-width: 769px) {
  ion-menu.md {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    border: none;
    max-width: 10rem;

  }
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;


}

ion-menu.md ion-list {
  padding: 20px 0;

}

ion-menu.md ion-note {
  margin-bottom: 30px;

}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
  border: none;
  box-shadow: none;

}

ion-menu.md ion-list#inbox-list {
  box-shadow: none;
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;
  min-height: 20px;

}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;
  margin-bottom: 18px;
  color: #757575;
  min-height: 26px;

}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
  background-color: #0F2C59;
  ;
  color: rgb(0, 0, 0);
  --color-hover: rgb(0, 0, 0);
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
  color: rgb(249, 244, 244);
}

ion-menu.md ion-item.selected ion-icon {
  color: rgb(249, 244, 244);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
  border-radius: 4px;
  background-color: #9f9df3;
  color: rgb(0, 0, 0);
  --color-hover: rgb(0, 0, 0);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;

  color: #73849a;
}

ion-menu.ios ion-item .selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;
  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}