ion-button {
    --background: #9f9df3;
    --background-hover: #9f9df3;
    --color: White;
    --border-radius: 10px;
    width: 10rem;
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
    --padding-top: 10px;
    --padding-bottom: 10px;
    margin: 1rem;
  }
  .ion-card-custom{
    max-height: 50vh;
    margin: 1rem;
    overflow-y: auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);


  }